<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>action.SignUpServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SignInServlet</servlet-name>
    <servlet-class>action.SignInServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RoomListServlet</servlet-name>
    <servlet-class>action.room.RoomListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddRoomServlet</servlet-name>
    <servlet-class>action.room.AddRoomServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelRoomServlet</servlet-name>
    <servlet-class>action.room.DelRoomServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EditRoomServlet</servlet-name>
    <servlet-class>action.room.EditRoomServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddRClassifyServlet</servlet-name>
    <servlet-class>action.room.AddRClassifyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RoomClassifyServlet</servlet-name>
    <servlet-class>action.room.RoomClassifyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EditTypeServlet</servlet-name>
    <servlet-class>action.room.EditTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelTypeServlet</servlet-name>
    <servlet-class>action.room.DelTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchRoomServlet</servlet-name>
    <servlet-class>action.room.SearchRoomServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddRoomAlbumServlet</servlet-name>
    <servlet-class>action.photo.AddRoomAlbumServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelRoomAlbumServlet</servlet-name>
    <servlet-class>action.photo.DelRoomAlbumServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserListServlet</servlet-name>
    <servlet-class>action.user.UserListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>action.user.AddUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelUserServlet</servlet-name>
    <servlet-class>action.user.DelUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EditUserServlet</servlet-name>
    <servlet-class>action.user.EditUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OrderListServlet</servlet-name>
    <servlet-class>action.order.OrderListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelOrderServlet</servlet-name>
    <servlet-class>action.order.DelOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddOrderServlet</servlet-name>
    <servlet-class>action.order.AddOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StatisticalServlet</servlet-name>
    <servlet-class>action.order.StatisticalServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RoomAlbumServlet</servlet-name>
    <servlet-class>action.photo.RoomAlbumServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>upPhotoServlet</servlet-name>
    <servlet-class>action.photo.upPhotoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PhotoListServlet</servlet-name>
    <servlet-class>action.photo.PhotoListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelPhotoServlet</servlet-name>
    <servlet-class>action.photo.DelPhotoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EditRoomAlbumServlet</servlet-name>
    <servlet-class>action.photo.EditRoomAlbumServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EditTphotoServlet</servlet-name>
    <servlet-class>action.room.EditTphotoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>action.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddOrderOnly</servlet-name>
    <servlet-class>action.order.AddOrderOnly</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ManagerAddOrder</servlet-name>
    <servlet-class>action.order.ManagerAddOrder</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowRtypeServlet</servlet-name>
    <servlet-class>action.room.ShowRtypeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowOrderServlet</servlet-name>
    <servlet-class>action.order.ShowOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateOrderServlet</servlet-name>
    <servlet-class>action.order.UpdateOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Exit</servlet-name>
    <servlet-class>action.Exit</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ManagerServlet</servlet-name>
    <servlet-class>action.user.ManagerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>action.room.SearchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Checkmessage</servlet-name>
    <servlet-class>action.user.Checkmessage</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Leavemessage</servlet-name>
    <servlet-class>action.user.Leavemessage</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckLogin</servlet-name>
    <servlet-class>action.CheckLogin</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignInServlet</servlet-name>
    <url-pattern>/SignInServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoomListServlet</servlet-name>
    <url-pattern>/RoomListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddRoomServlet</servlet-name>
    <url-pattern>/AddRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelRoomServlet</servlet-name>
    <url-pattern>/DelRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditRoomServlet</servlet-name>
    <url-pattern>/EditRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddRClassifyServlet</servlet-name>
    <url-pattern>/AddRClassifyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoomClassifyServlet</servlet-name>
    <url-pattern>/RoomClassifyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditTypeServlet</servlet-name>
    <url-pattern>/EditTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelTypeServlet</servlet-name>
    <url-pattern>/DelTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchRoomServlet</servlet-name>
    <url-pattern>/SearchRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddRoomAlbumServlet</servlet-name>
    <url-pattern>/AddRoomAlbumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelRoomAlbumServlet</servlet-name>
    <url-pattern>/DelRoomAlbumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserListServlet</servlet-name>
    <url-pattern>/UserListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelUserServlet</servlet-name>
    <url-pattern>/DelUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditUserServlet</servlet-name>
    <url-pattern>/EditUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderListServlet</servlet-name>
    <url-pattern>/OrderListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelOrderServlet</servlet-name>
    <url-pattern>/DelOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddOrderServlet</servlet-name>
    <url-pattern>/AddOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatisticalServlet</servlet-name>
    <url-pattern>/StatisticalServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoomAlbumServlet</servlet-name>
    <url-pattern>/RoomAlbumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>upPhotoServlet</servlet-name>
    <url-pattern>/upPhotoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhotoListServlet</servlet-name>
    <url-pattern>/PhotoListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelPhotoServlet</servlet-name>
    <url-pattern>/DelPhotoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditRoomAlbumServlet</servlet-name>
    <url-pattern>/EditRoomAlbumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditTphotoServlet</servlet-name>
    <url-pattern>/EditTphotoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddOrderOnly</servlet-name>
    <url-pattern>/AddOrderOnly</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerAddOrder</servlet-name>
    <url-pattern>/ManagerAddOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowRtypeServlet</servlet-name>
    <url-pattern>/ShowRtypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowOrderServlet</servlet-name>
    <url-pattern>/ShowOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateOrderServlet</servlet-name>
    <url-pattern>/UpdateOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Exit</servlet-name>
    <url-pattern>/Exit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerServlet</servlet-name>
    <url-pattern>/ManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Checkmessage</servlet-name>
    <url-pattern>/Checkmessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Leavemessage</servlet-name>
    <url-pattern>/Leavemessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckLogin</servlet-name>
    <url-pattern>/CheckLogin</url-pattern>
  </servlet-mapping>
</web-app>