<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ZYPGPSXT</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>file</param-name>
    <param-value>E:\file</param-value>
  </context-param>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>action.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>action.RegistServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>action.DeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UptargetServlet</servlet-name>
    <servlet-class>action.UptargetServlet</servlet-class>
    <init-param>
      <param-name>file</param-name>
      <param-value>E:\file</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>TargetAlbumServlet</servlet-name>
    <servlet-class>action.TargetAlbumServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DowntargetServlet</servlet-name>
    <servlet-class>action.DowntargetServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeletetargetServlet</servlet-name>
    <servlet-class>action.DeletetargetServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TargettoUserServlet</servlet-name>
    <servlet-class>action.TargettoUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchsoreServlet</servlet-name>
    <servlet-class>action.SearchsoreServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CuipingServlet</servlet-name>
    <servlet-class>action.CuipingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegistCheckServlet</servlet-name>
    <servlet-class>action.RegistCheckServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ForgetpswServlet</servlet-name>
    <servlet-class>action.ForgetpswServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>action.TestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TargetdistributeServlet</servlet-name>
    <servlet-class>action.TargetdistributeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TargetLevelServlet</servlet-name>
    <servlet-class>action.TargetLevelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TargetPsjgServlet</servlet-name>
    <servlet-class>action.TargetPsjgServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchTargetServlet</servlet-name>
    <servlet-class>action.SearchTargetServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ToExeclServlet</servlet-name>
    <servlet-class>action.ToExeclServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>XianXCuipingServlet</servlet-name>
    <servlet-class>action.XianXCuipingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChongzhimmServlet</servlet-name>
    <servlet-class>action.ChongzhimmServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminadduserServlet</servlet-name>
    <servlet-class>action.AdminadduserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TargetDistributeLevelServlet</servlet-name>
    <servlet-class>action.TargetDistributeLevelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/RegistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UptargetServlet</servlet-name>
    <url-pattern>/UptargetServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TargetAlbumServlet</servlet-name>
    <url-pattern>/TargetAlbumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DowntargetServlet</servlet-name>
    <url-pattern>/DowntargetServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeletetargetServlet</servlet-name>
    <url-pattern>/DeletetargetServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TargettoUserServlet</servlet-name>
    <url-pattern>/TargettoUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchsoreServlet</servlet-name>
    <url-pattern>/SearchsoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CuipingServlet</servlet-name>
    <url-pattern>/CuipingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistCheckServlet</servlet-name>
    <url-pattern>/RegistCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForgetpswServlet</servlet-name>
    <url-pattern>/ForgetpswServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TargetdistributeServlet</servlet-name>
    <url-pattern>/TargetdistributeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TargetLevelServlet</servlet-name>
    <url-pattern>/TargetLevelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TargetPsjgServlet</servlet-name>
    <url-pattern>/TargetPsjgServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchTargetServlet</servlet-name>
    <url-pattern>/SearchTargetServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ToExeclServlet</servlet-name>
    <url-pattern>/ToExeclServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XianXCuipingServlet</servlet-name>
    <url-pattern>/XianXCuipingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChongzhimmServlet</servlet-name>
    <url-pattern>/ChongzhimmServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminadduserServlet</servlet-name>
    <url-pattern>/AdminadduserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TargetDistributeLevelServlet</servlet-name>
    <url-pattern>/TargetDistributeLevelServlet</url-pattern>
  </servlet-mapping>
</web-app>